/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #353430;
  --text-color: #353430;
  --menu-color: #353430;
  --heading-color: #ffc2e6;
  --shadow-color: #ff0070;
  --description-color: #353430;
  --display-bulb: none;
  background-image: url(../images/cover-image-light.png);
}
