/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color, #353430);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 1.3);
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  padding: 0 10px;
  grid-template-rows: 240px min-content 225px;
}

.decorated-zone {
  position: relative;
  display: grid;
  min-height: 668px;
  max-height: 100vh;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__lamp {
  display: var(--display-lamp, none);
  position: absolute;
  color: var(--accent-color, #ff0070);
  text-transform: uppercase;
  text-align: end;
  inset-inline-end: 40px;
  inset-block-start: 12px;
}

.header__lamp::after {
  content: "";
  inset-block-start: 7px;
  inset-inline-end: -20px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 2px 2px var(--shadow-color, #ff0070);
  block-size: 9px;
  inline-size: 9px;
}

.heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 95.7px;
  color: var(--heading-color, #db00ff);
  text-shadow: 4px 4px var(--shadow-color, #ff0070);
}

.header__theme-menu {
  display: inline-flex;
  justify-content: flex-end;
}

.header__theme-menu-list {
  margin-block-start: 6px;
  display: flex;
  gap: 13px;
  align-self: center;
  flex-direction: column;
  list-style: none;
}

.header__theme-menu-button {
  cursor: pointer;
  font-family: inherit;
  font-size: var(--font-size, 18px);
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  border: none;
  text-transform: lowercase;
  background-color: inherit;
  color: var(--menu-color, #ff0070);
  padding: 2px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color, #353430);
}

.header__description {
  background-color: var(--accent-color, #ff0070);
  color: var(--description-color, #353430);
  align-self: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.main {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 39px;
  margin-block-end: 41px;
}

.section {
  display: grid;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__description-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.article__description-link:hover {
  border-bottom: 1px solid var(--text-color, #353430);
}

.article__description-link:focus {
  outline: none;
}

.article__description-link:focus-visible {
  outline: 1px solid var(--text-color, #353430);
}

.section__title {
  font-size: inherit;
  color: var(--title-color, #ff0070);
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.section__subtitle {
  font-size: inherit;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--accent-color, #ff0070);
  color: rgba(0, 0, 40, 1);
}

.article__title {
  font-size: var(--font-size, 18px);
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--accent-color, #ff0070);
  color: rgba(0, 0, 40, 1);
}

.article__title-how {
  font-weight: 400;
}

.article__description {
  color: var(--text-color, #f1b2ce);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.section__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images__container {
  display: grid;
  flex-direction: column;
  gap: 10px;
}

.section__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.article__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  .header {
    padding: 0 20px;
    grid-template-rows: 466px min-content 441px;
  }

  .header__lamp {
    inset-inline-end: 49px;
    inset-block-start: 21px;
  }

  .header::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone {
    min-height: 1024px;
  }

  .header__heading {
    margin-inline-start: -20px;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    width: 364px;
    justify-self: end;
  }

  .header::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__theme-menu-list {
    margin-block-start: 14px;
  }

  .main {
    margin-block-start: 59px;
    margin-block-end: 60px;
    gap: 80px;
    padding: 0 20px;
  }

  .section-why {
    grid-template-columns: 236px 1fr;
  }

  .section__title-why {
    grid-row-start: span 2;
  }

  .section__title-what {
    width: 236px;
  }

  .section-how {
    grid-template-columns: 236px 1fr;
  }

  .section__subtitle-images {
    grid-column-start: span 3;
  }

  .section__images {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(229px, 315px));
    grid-template-rows: auto 192px 230px 318px;
  }

  .section__image-sunset {
    grid-column-start: span 2;
  }

  .section__image-ice-cream {
    grid-row-start: span 2;
  }

  .section__image-tape {
    grid-row-start: span 2;
  }

  .section__image-street {
    grid-column-start: span 2;
  }

  .footer {
    padding: 0 20px;
  }

  .footer__heading {
    line-height: 99px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: 320px min-content 297px;
  }

  .decorated-zone {
    min-height: 768px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin-block-start: 20px;
  }

  .header__theme-menu {
    display: inline-flex;
    justify-content: center;
    align-self: start;
  }

  .header__theme-menu-button {
    padding: 3px 12px;
  }

  .header__heading {
    font-weight: 700;
    text-align: left;
  }

  .heading {
    line-height: 129.53px;
  }

  .header__description {
    inline-size: 492px;
    block-size: 71px;
    justify-self: end;
  }

  .section-how {
    grid-template-columns: 315px 1fr;
  }

  .section-what {
    grid-template-columns: 315px 315px 315px;
  }

  .section-why {
    grid-template-columns: 315px 1fr;
  }

  .section__subtitle-how {
    grid-column-start: span 3;
  }

  .section__title-what {
    width: 260px;
    grid-column-start: span 3;
  }

  .section__images {
    grid-template-rows: auto 260px 315px 433px;
  }

  .footer__heading {
    line-height: 129.53px;
  }
}
